<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Server</title>
  <link rel="stylesheet" href="/index.css">

</head>
<body>
  <h1>Fragments' File Server</h1>
  <h2><%= nowpath %></h1>
  <h2>File List</h2>
  <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th>Update Time</th>
        <th>File Size</th>
        <th>File Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="<%= lastpath %>" class="folderA">..</a></td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
      </tr>
      <% files.forEach(file => { %>
        <tr>
          <% if(!file.isFile) {%>
            <td><a href="<%= file.path %>" class="fileA"><%= file.name %></a></td>
          <% }else{ %>
            <td><a href="<%= file.path %>" class="folderA"><%= file.name %></a></td>
          <% } %>
          <td><%= file.time %></td>
          <td><%= file.size %></td>
          <td><%= file.type || 'Unknown' %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <h2>Upload File</h2>
  <button onclick="showUploadIframe()" id="showButton">Upload</button>
  <div class="modal" id="modal">
    <% if(nowpath === '/') {%>
      <iframe src="/uploadfile.html" id="uploadIframe"></iframe>
    <% } else {%>
      <iframe src="<%= nowpath %>/uploadfile.html" id="uploadIframe"></iframe>
    <% } %>
    <button onclick="hideUploadIframe()">关闭</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/uploadScript.js"></script>
  <script>
    

    // ... 省略上传表单的JavaScript逻辑
  </script>


</body>
</html>
